#app {
    font-family: 'Roboto', sans-serif;
}

#card {
    width: 300px;
    height: 320px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
}

#card:hover {
    box-shadow: 2px 2px 10px 3px rgba(153, 153, 153, 0.65);
}

#card img {
    width: 100%;
    height: 65%;
}

.listing-details {
    padding: 5px;
}

.headline,
.room-availability,
.date-available {
    padding: 0;
    margin: 0 0 5px 0;
}

.room-availability,
.date-available {
    font-size: 0.8em;
}

.date-available {
    color: grey;
    font-weight: normal;
}

.room-price {
    display: inline-block;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fa8072;
    border-radius: 3px;
}