#app {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;    
}

.card {
    width: 300px;
    border: 1px solid rgb(230, 230, 230);
    margin: 10px;
}

.card:hover {
    box-shadow: 2px 2px 4px 0px rgba(168,168,168,0.63);
}

.image-container {
    position: relative;
}

img {
    width: 100%;
    height: 180px;
}

.room-price {
    position: absolute;
    z-index: 1;
    bottom:10px;
    right:10px;
    display: inline-block;
    padding: 5px;
    background-color: #fa8072;
    border: 1px solid #a5544a;
    border-radius: 3px;
}

.listing-details {
    padding: 10px;
}

.headline {
    font-size: 0.95em;
    margin: 0 0 15px 0;
    padding:0;
} 

.room-availability,
.date-available {
    font-size: 0.8em;
    margin: 0 0 5px 0;
    padding: 0px;
}

.date-available {
    color: grey;
    font-weight: normal;
}